.rgrid {
  width:100%;
  height:100%;
  position: relative;
    }
    .g {
      margin: 15px;
     position:absolute;
    }
    .g-top { top:0px;}
    .g-under { grid-area: 2 / 2 / 3 / 3; }
    .g-bar { grid-area: 3 / 1 / 4 / 4;}
    .g-left { left:0px; bottom:0px;}
    .g-right { right:0px; bottom: 0px;}
    .g-bottom {bottom: 0px; width:100%;}
    .formbox {
      margin-top: 15px;
      display: block;
      font-size: 25px;
    }
    .bigtext {
        text-align: center !important;
        font-size: 5vh;
        margin: 15px auto;
        font-weight:700;
        height:3vh;
        text-overflow: ellipsis;
    }
    .bignumber {
        text-align: center !important;
        font-size:3em;
        margin: 0 auto;
        display: inline; 
        font-weight:700;
    }
    .bigbutton {
        font-size: 20px;
        width: 80px;
        height:50px;
        
        color: white;
        background-color: #585858;
        border: 5px solid transparent;
        transition: .2s ease;
        border-radius: 50px;
        &:hover {
            color: #585858;
            background-color: white;
            transform: scale(1.1);
            border: 5px solid #585858;;
        }
    }
    @keyframes animate-stripes {
        0% {
            background-position: 0 0;
        }
    
        100% {
            background-position: 60px 0;
        }
    }
    
    @keyframes auto-progress {
      0% {
        width: 0%;
      }
    
      100% {
        width: 100%;
      }
    }
    
    .progress-bar {
        background-color: #1a1a1a;
        height: 45px;
        width: 90%;
        border-radius: 5px;
        box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    }
    .com-bar {
      height: 8px !important;
      z-index: -4;
    }
    .ptext {
      margin-top:6px;
      font-size: 20px;
    }
    
    .stripes {
        background-size: 30px 30px;
        background-image: linear-gradient(
            135deg,
            rgba(255, 255, 255, .15) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .15) 50%,
            rgba(255, 255, 255, .15) 75%,
            transparent 75%,
            transparent
        );
    }
    .container-fluid {
      
    top: 0;
    padding-top: 0;
    margin: 0;
    position: absolute;

    }
    
    .stripes.animated {
      animation: animate-stripes 2s linear infinite;
    }
    
    .stripes.animated.slower {
      animation-duration: 1.25s;
    }
    
    .stripes.reverse {
      animation-direction: reverse;
    }
    
    .progress-bar-inner {
      display: block;
      height: 45px;
      width: 0%;
      background-color: #34c2e3;
      border-radius: 3px;
      box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
      position: relative;
    }
    .com-inner {
      background-color: #e36634;
    }

.succpost {
  left:0;
  top: 0;
  position: absolute;
  width:100%;
  z-index:-4;
}
